<head th:fragment="head">
    <title>!!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--styles-->
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css" />
    <!--custom styles-->
    <link rel="stylesheet" type="text/css" media="all"
          href="../META-INF/resources/less/main.less" th:href="@{/less/main.less}" />
    <link href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css"/>
</head>

