<!DOCTYPE HTML>
<html ng-app="myApp" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<header th:replace="fragments/header :: header"></header>
<p>Hello spring thymeleaf!</p>
<footer th:replace="fragments/footer :: footer"></footer>


<!--javascript-->
<script type="text/javascript" src="../jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../angular/angular.min.js"></script>
<script type="text/javascript" src="../bootstrap/bootstrap.min.js"></script>
<!--custom js-->
<script type="text/javascript" th:src="@{/coffee/main.coffee}"></script>
</body>
</html>